{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Web Automation</title>
    <link rel="stylesheet" href="{% static 'assets/icons/font-awesome/css/font-awesome.min.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>

<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>
</html>